<app-custhomenav></app-custhomenav>
<!-- main app container -->
<div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h3>Transfer Money</h3>
                    <br>
                    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                                
                            <label>From Account</label>
                            <select formControlName="accountType"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }" >
                            <option *ngFor="let item of details;" value="{{item.accountNumber}}">{{item.accountType}}</option>
                            
                            
                            </select>
                            <label>To Account</label>
                            <input type="text" formControlName="toAccount"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.toAccount.errors }" />
                            <div *ngIf="submitted && f.toAccount.errors" class="invalid-feedback">
                                <div *ngIf="f.toAccount.errors.required">To Account is required</div>
                            </div>

                            <label>Description</label>
                            <input type="text" formControlName="description"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                            
                        
                            <label>Amount</label>
                            <input type="text" formControlName="amount"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                <div *ngIf="f.amount.errors.required">Amount is required</div>
                            </div>
                        </div>
                        
                       
                        
                        
                        <div class="form-group">
                            <button class="btn btn-primary">Transfer Money</button>
                            
                        </div>
                         
                    </form>
                </div>
            </div>
        </div>
        
      </div>
      
      
      
      
      