<div class = "container" style="width:35%; height:70%; border:0px; border-radius: 10px">
    <br><br>
    <h2 align="center">Enter Details </h2>
       <hr>
        
       <b>From</b>
       <select name="Account">
        <option value="ptos">Primary To Secondary</option>
        <option value="stop">Secondary To Primary</option>
      </select> <br><br>

     
        <label for="amount"><b>Transfer Funds</b></label>
        <input type="text" placeholder="Enter Amount" name="amount" required>
        <br><br>
        
        <div class="clearfix" style="display: flex; justify-content: center;">
                <button type="submit" name="submit" class="signupbtn">Send Money</button>
        </div><br><br>
</div>

