
	<div class = "container" style="width:35%; height:70%; border:0px; border-radius: 10px">
					<br><br><br><br><br><br>
					<h1 align = "center">TransFer To</h1>
					   <hr>					
					   <br>
					    <div class="clearfix" style="display: flex; justify-content: center;">
			<button type="submit" name="submit" class="myselfbtn" onclick="    ">MySelf</button>
						<a [routerLink]="['/transfer']">Friends</a>
			<!--<button type="submit" name="submit" class="friendsbtn" >Friends</button>-->
					    </div>
					    <br>					   
	</div>
