<div class = "container" style="width:35%; height:70%; border:0px; border-radius: 10px">
					<br><br>
					<h2 align="center">TransFer</h2>
					   <hr>
                        
						<label for="name"><b>Enter Name</b></label>
					    <input type="text" placeholder="Enter Name" name="name" required>
					    <br><br>
                        
                        <label for="accno"><b>Enter Account Number</b></label>
					    <input type="text" placeholder="Enter Account Number" name="accno" required>
					    <br><br>
                        
                        <label for="amount"><b>Transfer Funds</b></label>
					    <input type="text" placeholder="Enter Amount" name="amount" required>
					    <br><br>
                        
                        <label for="description"><b>Description</b></label>
					    <input type="text" placeholder="Enter Description" name="description" required>
					    <br><br>						
                        
                        <div class="clearfix" style="display: flex; justify-content: center;">
					            <button type="submit" name="submit" class="signupbtn">Send Money</button>
					    </div>
</div>

