<app-adminhome></app-adminhome>
<!-- main app container -->
<div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h3>Account Registration</h3>
                    <br>
                    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Account Balance</label>
                            <input type="text" formControlName="accountBalance"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accountBalance.errors }" />
                            <div *ngIf="submitted && f.accountBalance.errors" class="invalid-feedback">
                                <div *ngIf="f.accountBalance.errors.required">Balance is required</div>
                            </div>
                        </div>
                        
                       
                        <div class="form-group">
                            <label>Account Type</label>
                            <select formControlName="accountType"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }">
                                    <option value="savings">Savings</option>
                                    <option value="current">current</option>
                                  </select>
                            
                            
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-primary">Account Register</button>
                            
                        </div>
                         
                    </form>
                </div>
            </div>
        </div>
        
      </div>
      
      
      
      
      